*~
obj/
bin/
.gdb.in
.qemu.out
cscope.*
ncscope.*
tags
*swp
.cproject
.project
*.bak
*.org
.codelite
*.project
*.workspace

*.pdf

labcodes_answer/lab6_result/Makefile

labcodes_answer/lab6_result/Makefile

labcodes_answer/lab7_result/Makefile

labcodes/lab6/Makefile

labcodes/lab7/Makefile


labcodes/lab8/disk0/
labcodes_answer/lab8_result/disk0

labcodes/smp/disk0/
